@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* boiler css item */

*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}



.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.row{
    position: relative;
}

.row:after{
    display: block;
    clear: both;
    content: '';
}


.col-1  {width: 8.33%;   }
.col-2  {width: 16.66%; }
.col-3  {width: 25%;    }
.col-4  {width: 33.33%; }
.col-5  {width: 41.66%; }
.col-6  {width: 50%;    }
.col-7  {width: 58.33%; }
.col-8  {width: 66.66%; }
.col-9  {width: 75%;    }
.col-10 {width: 83.33%; }
.col-11 {width: 91.66%; }
.col-12 {width: 100%;   }



[class*='col-']{
    float: left;
}

.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mt-4{
    margin-top: 40px;
}
.mt-5{
    margin-top: 50px;
}


.py-1{
   padding: 10px 0;
}

.py-2{
    padding: 20px 0;
 }

 .py-3{
    padding: 30px 0;
 }

 .py-4{
    padding: 40px 0;
 }

 .py-5{
    padding: 50px 0;
 }

 .px-1{
    padding-right: 10px;
    padding-left: 10px;
 }

 .px-2{
    padding-right: 20px;
    padding-left: 20px;
 }


 .text-danger{
    color: red;
 }

 .circle{
    border-radius: 50%;
 }


 /* banner section  */

 .banner{
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;   
 }

 .banner-content{
    padding: 177px 300px;
    background-color: rgba(0,0,0,.5);
    border-radius: 20px;
 }

 .banner-title{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    font-family: Merriweather;
 }

 .banner-message{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    font-family: Merriweather;
 }

/* discount section  */

.discount-content{
    padding: 0 200px;
}

.discount-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount-message{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount-text{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}



/* welcome section  */

.welcome-background{
    background-image: url('../images/vector.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}
.welcome{

    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    padding: 68px 138px;
    border-radius: 20px;

}

.welcome-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-message{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-join{
    background-color: rgba(0,0,0,.1);
    border: none;
    color: white;
}
.btn-join:hover{
    background-color: rgba(0,0,0,1);
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.5s;
}

/* coming soon section  */

.coming-message{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.coming-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.coming-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}

.coming-third-title{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.coming-soon-img{
    height: 360px;
    width: 360px;
    padding: 20px 20px;
    border: 10px solid red;
}


/* holiday section  */
.holiday-content{
    text-align: center;
    padding: 0 145px;
}

.holiday-message{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holiday-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


.holiday-text{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}

/* portfolio section  */


.portfolio-content{
    width: 75%;
}
.portfolio-message{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio-text
{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}

.portfolio-image-container{
    box-sizing: border-box;

}

.portfolio-image{
    display: flex;
    gap: 10px;
}

.portfolio-single-image{
    
   border-radius: 20px;

}

.single-image{
    width: 395px;
    height: 395px;
}


/* join section  */
.join-content-title{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.join-button{
    background-color: red;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family: Inter;
    /* text-transform: capitalize; */

}


/* subscribe section  */
.subscribe, .join{
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 20px;
    text-align: center;
}

.subscribe-content, .join-content{
    padding: 80px 212px;
}

.subscribe-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.subscribe-message{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


.subscribe-form{
    text-align: center;
}

.form-input{
    text-align: center;
    width: 500px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    border: none;
    font-size: 20px;
}

.form-input-btn{
    color: #FFF;
    background-color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    height: 72px;
    width: 150px;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    border: none;
}

.subscribe-image, .coming-soon-img{
    display: flex;
    justify-content: center;
}


/* footer section  */

.bg-blue-dark{
    background-color: #070211;
}

.footer{
    padding: 120px 140px;
}

.footer-first-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-first-content li{
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-second-content{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
}


